<tr>
    <td width="620" colspan="2">

        <table width="620" cellspacing="0" cellpadding="0" border="0" bgcolor="#25313e" align="left">
            <tbody><tr>
                    <td width="20"><img height="30" width="20" border="0" src="{{ asset('bundles/ixoilemail/images/spacer20.png') }}"></td>           	

                    <td width="100">
                        <a target="_blank" href="#"><img height="40" width="100" border="0" title="Slideshare" alt="slideshare icon" src="{{ asset('bundles/ixoilemail/images/footerlogo.png') }}"></a>
                    </td>

                    <td width="83"><img height="30" width="20" border="0" src="{{ asset('bundles/ixoilemail/images/spacer20.png') }}" /></td>
                    <td width="320" style="color:#fff;">
                        <h1 style="font-size:14px; color:#fff !important; font-weight:normal;">
                            &copy;{{ "now"|date('Y')}} Ixoil | <a href="http://www.ixoil.com" style="text-decoration:none;color: rgb(255, 255, 255);">www.ixoil.com</a>
                        </h1>
                    </td>
                    <td width="70"></td>
                    <td width="20"><img height="30" width="20" border="0" src="{{ asset('bundles/ixoilemail/images/spacer20.png') }}" /></td>
                </tr>
            </tbody>
        </table>	
    </td>    
</tr>
<tr>
    <td width="620" colspan="2">

        <table width="620" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
                <tr>
                    <td width="620"><img height="50" width="620" border="0" style="background-color:#f2f2f2;" src="{{ asset('bundles/ixoilemail/images/footerstripe1.png') }}"></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>